body {
	margin: 0;
	padding: 0;
}

.form {
	color: #fff;
	margin: auto 5%;
}

.login-left {
	float: left;
	height: 100%;
	width: 50%;
	background-color: #2d4191;
	left: 0;
}

.login-right {
	float: right;
	height: 100%;
	width: 50%;
	background: #fff;
	margin: 0 auto;
	padding: 50px 100px;
	text-align: center;
	position: absolute;
	right: 0;
}

.login-logo {
	display: none;
	text-align: center;
}

.login-footer {
	text-align: center;
	display: none;
	padding: 3.5%;
	height: 84px;
	width: 100%;
	background-color: #fff;
}

#lg {
	padding-bottom: 30px;
}

@media ( min-width : 800px) {
	.login-left {
		position: absolute;
		padding: 10%;
	}
}

@media screen and (max-width: 800px) {
	.form {
		padding: 10% 5%;
		min-height: 350px;
		display: flex;
		align-items: center;
	}
	#lg {
		padding-bottom: 15px;
	}
	.login-left {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.login-right {
		display: none;
	}
	.login-logo {
		height: 84px;
		display: block;
		background-color: #fff;
	}
	.login-footer {
		height: 84px;
		display: block;
		background-color: #fff;
	}
	.wrapper {
		width: 100%;
	}
}