.page-container {
	position: relative;
	height: 100%;
	margin-left: 275px;
	padding: 10px;
}

.record-filter {
	height: 70px;
	border-bottom-style: dashed;
	border-color: gray;
	text-align: center;
	padding: 10px;
}

.record-results {
	padding: 10px;
}
