@charset "ISO-8859-1";

#menu {
	position: fixed;
	left: 0;
	background: #2d4191;
	color: #fff;
	height: 100%;
	width: 275px;
}

.menu-logo {
	width: 275px;
}

#menu i {
	color: #fff;
}

img {
	width: 100%;
	max-width: 300px;
	height: auto;
}

.aesthetic-div {
	background-color: #2d4191;
	margin-left: 275px;
	height: 92.38px;
	color: #fff;
	text-align: center;
}

.aesthetic-div h2 {
	padding: 20px;
}

.aesthetic-div .menu-mobile {
	display: none;
	height: 60px;
	width: 60px;
	padding: 16px;
	cursor: pointer;
}

.aesthetic-div .logo-mobile {
	display: none;
	max-width: 200px;
}

.account {
	text-align: center;
	padding: 20% 20px;
}

.account a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.active {
	border-top-style: solid;
	background-color: #fff !important;
	color: #2d4191 !important;
}

.active i {
	color: #2d4191 !important;
}

.menu-navbar {
	display: inline-grid;
	width: 100%;
}

.menu-navbar a {
	padding: 10px 0px 10px 40px;
	border-top-style: solid;
	text-decoration: none;
	display: inline-block;
	color: #fff;
}

.menu-navbar a:hover {
	color: #2d4191 !important;
	background-color: #fff !important;
}

.menu-navbar a:hover i {
	color: #2d4191 !important;
}

.closebtn {
	display: none;
}

@media ( max-width : 1000px) {
	#menu {
		width: 250px !important;
	}
	.menu-logo {
		width: 250px !important;
	}
	.page-container {
		margin-left: 250px !important;
	}
	.aesthetic-div {
		margin-left: 250px !important;
		height: 83.97px !important;
	}
}

@media ( max-width : 900px) {
	#menu {
		width: 225px !important;
	}
	.menu-logo {
		width: 225px !important;
	}
	.page-container {
		margin-left: 225px !important;
	}
	.aesthetic-div {
		margin-left: 225px !important;
		height: 75.58px !important;
	}
}

@media ( max-width : 800px) {
	#menu {
		display: none !important;
		z-index: 99999;
		overflow-x: hidden;
		transition: 0.5s;
	}
	.menu-logo {
		display: none !important;
	}
	.page-container {
		margin-left: 0px !important;
	}
	.aesthetic-div {
		width: 100%;
		display: inline-flex;
		margin-left: 0px !important;
		height: 60px !important;
		background-color: #fff !important;
	}
	.aesthetic-div h2 {
		display: none;
	}
	.menu-mobile {
		display: inline-flex !important;
	}
	.logo-mobile {
		display: inline-flex !important;
		position: absolute;
		right: 0px;
	}
	.closebtn {
		display: inline-block;
	}
}