@charset "ISO-8859-1";

#menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2d4191;
	color: #fff;
	height: 100%;
	width: 275px;
	z-index: 1;
	overflow: auto;
	overflow-x: hidden;
}

.menu-logo {
	width: 275px;
}

#menu i {
	color: #fff;
}

img {
	width: 100%;
	max-width: 250px;
	height: auto;
}
#menu img {
	max-width: 300px;
}

.aesthetic-div {
	background-color: #2d4191;
	margin-left: 275px;
	height: 92.38px;
	color: #fff;
	text-align: center;
}

.aesthetic-div h2 {
	padding: 20px;
}

.aesthetic-div .menu-mobile {
	display: none;
	height: 60px;
	width: 60px;
	padding: 16px;
	cursor: pointer;
}

.aesthetic-div .logo-mobile {
	display: none;
	max-width: 200px;
}

.account {
	text-align: center;
	padding: 20% 20px;
}

.account a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.active {
	background-color: #fff !important;
	color: #2d4191 !important;
}

.active i {
	color: #2d4191 !important;
}

.menu-navbar a {
	padding: 10px 0px 10px 40px;
	border-top-style: solid;
	text-decoration: none;
	display: block	;
	color: #fff;
	transition: 0.3s;
}
.menu-navbar a:last-child {
	border-bottom-style: solid;
}

.menu-navbar a:hover {
	color: #2d4191 !important;
	background-color: #fff !important;
	border-color: #2d4191;
}

.menu-navbar a:hover i {
	color: #2d4191 !important;
}

.closebtn {
	display: none;
	height: 60px;
	width: 60px;
	padding: 16px;
}

/* @media screen and ( min-width :1000px) { */
/* 	#menu { */
/* 		width: 275px ; */
/* 	} */
/* } */

/* @media ( min-width :900px) { */
/* 	#menu { */
/* 		width: 250px ; */
/* 	} */
/* } */

/* @media ( min-width :800px) { */
/* 	#menu { */
/* 		width: 225px !important; */
/* 	} */
/* } */
@media screen and ( max-width : 1000px) {
	#menu {
		width: 250px;
	}
	.menu-logo {
		width: 250px !important;
	}
	.page-container {
		margin-left: 250px !important;
	}
	.aesthetic-div {
		margin-left: 250px !important;
		height: 83.97px !important;
	}
}

@media screen and ( max-width : 900px) {
	#menu {
		width: 225px;
	}
	.menu-logo {
		width: 225px !important;
	}
	.page-container {
		margin-left: 225px !important;
	}
	.aesthetic-div {
		margin-left: 225px !important;
		height: 75.58px !important;
	}
}

@media screen and ( max-width : 800px) {
	#menu {
		width: 0px;
	}
	.menu-logo {
		display: none !important;
	}
	.page-container {
		margin-left: 0px !important;
		padding: 15px !important;
	}
	.aesthetic-div {
		width: 100%;
		display: inline-flex;
		margin-left: 0px !important;
		height: 60px !important;
		background-color: #fff !important;
	}
	.aesthetic-div h2 {
		display: none;
	}
	.menu-mobile {
		display: inline-flex !important;
	}
	.logo-mobile {
		display: inline-flex !important;
		position: absolute;
		right: 0px;
	}
	.closebtn {
		display: inline-block;
	}
}

.show-menu {
	width: 225px !important;
	transition: 0.5s;
}

.hide-menu {
	width: 0px !important;
	transition: 0.5s;
}